---
layout: page
title: Blog
comments: true
bannerImage: blog.jpg
permalink: /blog/
---

<p class="rss-subscribe center-align">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
<div class="row">
	{% for post in site.posts %}
	<div class="col s12">
		<div class="card med">
				{% if post.imageUrl %}
		        <div class="card-image waves-effect waves-block waves-light">
		      		<img src="{{ page.imageUrl }}/" alt="" class="activator">
		      	{% else %}
		      	<div class="card-image blue waves-effect waves-block waves-light">
		      	{% endif %}
		        </div>
		        <div class="card-content">
		          <span class="card-title activator grey-text text-darken-4"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
		          <p>{{post.summary}}</p>
		          <a class="collection-item" href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
		          {{ % if page.comments % }}
		          <script type="text/javascript">
		          	var disqus_shortname = 'bloomlabs';
				    (function () {
				        var s = document.createElement('script');
				        s.async = true;
				        s.type = 'text/javascript';
				        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
				        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
				    }());
					</script>
					{{% endif %}}
		        </div>
		</div>
	</div>
	{% endfor %}
</div>

<!-- <ul id="staggered-list" class="collection">

    <li class="collection-item avatar">

      <span class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
      <p> {{post.summary}}
      </p>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p> -
    </li>

</ul>


<scri -->