<br>
<footer class= "top-shadow">
  <div class="container ">
    <div class="row center-align">
      <div class="social-media">
        <a href="mailto:{{ site.email }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Email">
          <i class="fa fa-envelope fa-3x"></i>
        </a>
        {% if site.facebook_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Facebook">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
        {% endif %}
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
        {% endif %}
        {% if site.youtube_link %}
          <a href="{{ site.youtube_link }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="YouTube">
            <i class="fa fa-youtube fa-3x"></i>
          </a>
        {% endif %}
        {% if site.instagram_username %}
          <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Instagram">
            <i class="fa fa-instagram fa-3x"></i>
          </a>
        {% endif %}
        {% if site.pinterest_username %}
          <a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pinterest">
            <i class="fa fa-pinterest fa-3x"></i>
          </a>
        {% endif %}
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="GitHub">
            <i class="fa fa-github fa-3x"></i>
          </a>
        {% endif %}
      </div>
<!--       <div class="google-maps">
 -->        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.4624481477654!2d115.81666399999996!3d-31.975476999999987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a4faaaaa0f75%3A0x631512970f46ac1d!2sInnovation+Hub+%40+St+Cat&#39;s!5e0!3m2!1sen!2sau!4v1434889995089" width="500" height="400" frameborder="0" style="border:0"></iframe>
      <!-- </div> -->
    </div>

  </div>
</footer>
<div class="copyright center-align">
  <p class="white-text">&copy; 2015 Bloom Labs Inc.</p>
</div>