<header >
  <div class="navbar-fixed">
    <nav class="bloom-navigation" role="navigation">
      <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo" href="{{ site.baseurl }}/">
        <img class="logo" src="{{ "/images/Bloom.png" | prepend: site.baseurl }}" alt="Bloom Logo">
      </a>
        <ul class="right hide-on-med-and-down">
            {% include nav.html nav=site.data.menu %}
        </ul>
        <ul id="nav-mobile" class="side-nav">
            {% include nav.html nav=site.data.menu %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>
</header>
