
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Form
 */

/* label color */
.input-field label {
    color: $text-color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: $primary-color;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
}

/* label focus color */
.input-field input[type=email]:focus + label {
    color: $primary-color;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
}

.input-field textarea[type=text]:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: $primary-color;
}

.input-field textarea[type=text]:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
}

.input-field textarea[type=text]:focus + label {
    color: $primary-color;
}

/* dropdown options color */
ul.select-dropdown li span {
    color: $primary-color;
}

/**
 * Navigation
 */
.bloom-navigation {
    background-color: $primary-color;
}

.banner {
    color: $dark-primary-color;
}

.who-we-are {
    background-color: $light-background-color;
}

/**
 * Footer
 */
footer {
    background-color: $primary-color;
}

/**
 * Icons
 */
.fa {
    margin-left: $spacing-unit / 4;
    margin-right: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    color: $icon-menu-text-color;
}

.fa:hover {
    color: $dark-primary-color;
}

.fa:active {
    color: $light-primary-color;
}

.copyright {
    background-color: $dark-primary-color;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top:0px;
    margin-bottom:0px;
}

.parallax-container {
    height: 300px;
}

.main-banner.parallax-container {
    height: 450px;
}