.logo {
    display: inline-block;
    max-width: 100%;
    max-height: 55px;
    vertical-align: middle;
    padding-bottom: 2px;
}

@include media-query($on-mobile) {
    .logo {
        display: inline-block;
        max-width: 100%;
        max-height: 50px;
        vertical-align: middle;
    }
}

.light-title {
    background:$light-primary-color;
    margin-left:-100%;
    margin-right:-100%;
}

.page-title {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}